* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgColor: #040714;
$mainTextColor: silver;
$secondaryTextcolor: #f9f9f9;

body {
    background-color: $bgColor;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $mainTextColor;
} 

@mixin title($fontSize: 40px) {
    font-size: $fontSize;
    color: $secondaryTextcolor;
}
.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link--text {
    
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--smaill {
    @include title(28px);
}